asgiref==3.8.1
certifi==2025.6.15
cloudinary==1.44.1
Django==5.1.11
django-browser-reload==1.18.0
django-htmx==1.23.2
django-tailwind==4.0.1
gunicorn==23.0.0
packaging==25.0
pillow==11.3.0
python-decouple==3.8
six==1.17.0
sqlparse==0.5.3
urllib3==2.5.0
whitenoise==6.9.0
